.Payment-method-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.Payment-buy-button {
  display: inline-block;
  margin: 10px;
  padding: 0.85em 1em;
  border: 0;
  outline: 0;
  border-radius: 100em;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-color: rgb(61, 61, 61);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;
}

.paypal:hover,
.paypal:focus {
  background-color: gold;
}

.bank:hover,
.bank:focus {
  background-color: #eb4a52;
}

.money:hover,
.money:focus {
  background-color: #03c931;
}
